

*{
  cursor : none;
}
body {
  background-image: url("https://i.imgur.com/2rZDjQ1.jpg");
  font-family: Montserrat;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #131c30;
  position: relative;
  margin: 0;
  padding: 0;

}


#title{
  --border-right: 6px;
  --text-stroke-color: #37FF8B;
  --fs-size: 1em;
  letter-spacing: 3px;
  text-decoration:double;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  text-shadow: 0 0 30px #37FF8B;
  margin: 0; 
}

#header {
  position: relative;
}
 
  
.navbar {
  display: flex;
  position: fixed;
  z-index: 1;
  color: white;
  top: 0rem;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  justify-content: space-around;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5); 
}


.navbar a,#title {
  font-size: 1em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.navbar a:hover:after,#title:hover:after {
  width: 100%;
  left: 0%;
}

.navbar a:after,#title:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.navbar img{
  height: 1rem;
  border-radius: 50%;
 }


.menu__item img {
  height: 5rem;
  border-radius: 50%;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 3.5rem;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  cursor: default;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 100px 0;
  z-index: 1;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all .25s ease-in-out;
}
.menu__item:hover {
  transform: scale(1.2);
  background-color: transparent;
}

#hiddenMsg{
  color: rgba(0, 0, 0, 0.8);
}
#hiddenMsg:hover {
  color: red;
}

.search-bar {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: 60px;
    position: relative;
  }
  
  .search-bar input {
    columns: 1;
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .search-bar button {
    columns: 1;
    padding: 5px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: aqua;
    font-size: 19px;
    color: white;
    cursor: pointer;
  }
  
  
  .search-results {
    width: 300px;
    padding: 10px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid aqua ;
    border-radius: 5px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: white;
    cursor:pointer;
  }
  
  
  .search-results div {
    border: 2px solid aqua;
    border-radius: 5px;
    margin: 5px 0;
    padding: 8px;
    transition: border-color 0.5s ease;
  }
  
  .search-results div:hover {
    box-shadow: 0 0 10px aqua;
    transform: scale(1.05);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out ,;
}

.search-results div:active{
    background-color: rgba(0, 255, 255, 0.3)
}

.song-container {
  display: grid;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3rem;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.song-scroll {
  width: 100%;
  height: 7rem;
  padding: 0.2rem 1rem;
  margin: 0 0 10px 0;
  background-color: rgb(22, 20, 20);
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 30px auto;
  box-shadow: 0px 0px 10px rgb(0, 255, 242);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-color: #37FF8B #121212;
}


.song-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}



h2{
  margin-left: 30px;
  font-weight: 700;
  font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
   color: #ffffff;
   margin-top: 0px;
}

.song-box {
  background-color: rgba(255, 255, 255,0.3);
  padding-bottom: 2px;
  text-align: center;
  height: 10rem;
  max-height: 9rem;
  min-width: 8rem;
  overflow: hidden;
  margin-right: 1.3rem;
  border-radius: 2px;
  transition: transform 10s ease-in-out;
  flex: 0 0 auto; 
  
}
.song-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.song-container > div:nth-child(1) .song-scroll .song-box{
  animation: keepMoving 15s linear infinite 1s;
}

.song-container > div:nth-child(2) .song-scroll .song-box{
  animation: keepMoving 15s linear infinite 2s;
}

.song-container > div:nth-child(3) .song-scroll .song-box{
  animation: keepMoving 15s linear infinite 3s;
}

@keyframes keepMoving {
  0% {
    transform: translateX(0%); 
  }
  50% {
    transform: translateX(-110%);
  }
  75% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(-0%);
  }
}


.song-box img {
  max-height: 4rem;
  width: auto;
  height: auto;
}




.song-img {
  background-image: url('');
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80%;
}

.song-title {
  color: #ecf0f1;
  margin-top: 10px;
}


.music-player {
  display: none;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #121212;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(52, 206, 119, 0.919);
  text-align: center;
}

.music-player img {
  width: 100%;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(blue, black);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 1s ease;
}

.music-player-rotate{
  transform: rotate(360deg);
}

.songInfo {
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff; 
  background-color: none; 
  padding: 8px; 
  border-radius: 5px; 
  text-align: center; 
  box-shadow: 0px 0px 10px rgba(27, 204, 201, 0.507); 
  transition: background-color 1s ease; 
}

.songInfo:hover {
  background-color: rgba(27, 204, 201, 0.507) ; 
}


.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playBtn {
  background-image: linear-gradient(135deg, #008aff, #86d472);
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;

}

.playBtn:hover {
  color: #fff;
}

.playBtn .playBtnspan {
  align-items: center;
  background: #0e0e10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.playBtn:hover .playBtnspan {
  background: transparent;
}

.progress-bar-container {
  top: 25px;
  width: 100%;
  height: 10px;
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #37FF8B;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}
#time{
  position: relative;
  top: 25px;
}
.current-time,
.total-time {
  color: #888;
}

.volume-slider {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 35px;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #34495e;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: aqua;
  cursor: pointer;
  transition: all;
  transition-duration: 1s;
}

.slider::-webkit-slider-thumb:hover{
  transform: scale(2);
}


.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: none;
}

.loader > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  margin-left: 2px;
  animation: delay 0.8s infinite ease-in-out;
}

.loader .bar1 {
  background-color: #754fa0;
}

.loader .bar2 {
  background-color: #09b7bf;
  animation-delay: -0.7s;
}

.loader .bar3 {
  background-color: #90d36b;
  animation-delay: -0.6s;
}

.loader .bar4 {
  background-color: #f2d40d;
  animation-delay: -0.5s;
}

.loader .bar5 {
  background-color: #ffb22d;
  animation-delay: -0.4s;
}



@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1.0);
  }
}


.cursor{
  z-index: 3;
}


.bottomPlayer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 6px;
  background-color: black;
  color:white;
  font-size: 1.2rem;
  height: 3rem;
  width: 90%;
  left: 4%;
  padding: 1px 1%;
  animation: glowing 1.5s infinite alternate ;
  animation-delay: 500ms;
  box-shadow: 0 0 10px 5px  #37FF8B;
  
}

@keyframes glowing {
  from {
      box-shadow: 0 0 5px 4px  #37FF8B;
      color: #37FF8B;
  }
  to {
      box-shadow: 0 0 20px 8px   aqua;
      color: aqua;
  }
}

#bottomPlayerText{
  
  font-weight: 600;
  text-shadow: 0 0 10px  #37FF8B;

}
#bottomPlayerImg{
  position: relative;
  height: auto;
  max-width: 2rem;
  width: auto;
  box-shadow: aqua 0px 0px 4px 2px;
}

@media screen and (max-width: 768px) {

  .cursor{
    visibility: collapse;
  }
  *{
    cursor: default;
  }
   body{
       width: 100%;
       margin: 0;
       padding: 0;
       overflow: auto;
       padding-bottom: 100px;
       background-color: black;
       background-image: none;

   }
   .navbar{
    width: 100vw;
   }
   
    .navbar a {
        font-size: 0.8em; 
    }
    .navbar a:nth-child(3){
      display: none;
    }
    
    .search-bar {
      margin-left: auto;
      margin-right: auto;
      width: auto;
      max-width: 300px;
    }
    .search-bar input {
      width: 60px;
      transition: all 0.5s ease-in-out;
    }
    .search-bar input:focus{
      width: auto;
    }
    .search-results  {
      width: 220px;
    }

    .customsearch-bar input {
      width: 110px;
      transition: all 0.5s ease-in-out;
    }

    .song-scroll{
      margin-left: 1rem;
      width: 80vw;
      padding-bottom: 40px;

    }
    
    .song-box{
      height: 8rem;
      width: 6rem;
      overflow:hidden;
      
    }

    .song-box img{
      max-height: 6rem;
    }

    .loader{
      top: 200px;
      z-index: 2;
    }

    #title{
        font-size: 0.8rem;
    }

    .music-player {
      margin: auto;
      margin-top: 3rem;
      width: 50%;
      padding: 10px 40px 50px 40px;
    }
  
    .music-player img {
      margin-top: 20px;
      width: auto;
      height: auto;
      max-width: 10rem;
      max-height: 80rem;
    }
  
    .player-controls{
      margin-top: 40px;
    }
  
    .play-pause-btn {
      width: 100%;
    }


  
  

}

@media screen and (min-width: 768px) {
  
      body{
        overflow-x: hidden;
      }
     .navbar img {
        position: absolute;
        top: auto;
        bottom: auto;
     }
    .song-container {
        display: grid;
        max-height: none;
        margin-left: 100px;
    }
    .song-scroll{
      width: 80%;
      padding-bottom: 0rem;
      height: 10rem;
      overflow: scroll;
    }

    .song-container > div:nth-child(1) .song-scroll .song-box{
      animation: keepMoving 40s linear infinite 1s;
    }
    
    .song-container > div:nth-child(2) .song-scroll .song-box{
      animation: keepMoving 40s linear infinite 1.7s;
    }
    
    .song-container > div:nth-child(3) .song-scroll .song-box{
      animation: keepMoving 40s linear infinite 2s;
    }

    .song-box{
      height: 200px;
      width: 200px; 
      margin-right: 10px;  
    }
    
    .music-player{
      justify-content: center;
      align-items: center;
      padding-bottom: 100px;
    }
    .music-player img{
     margin-left: auto;
     margin-right: auto;
    }

    .volume-slider{
      width: 20%;
    }

    
}


.customsearch-bar {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 60px;
  position: relative;
}

.customsearch-bar input {
  columns: 1;
  width:100px;
  height: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  transition: width 0.5s ease-in-out;
}

.customsearch-bar input:focus{
   width: 300px;
}


.customsearch-bar button {
  columns: 1;
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #37FF8B;
  color: white;
  cursor: pointer;
}


.customsearch-results {
  width: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #37FF8B;
  border-radius: 5px;
  color: #37FF8B; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.customsearch-results div {
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 5px 0;
  padding: 8px;
  transition: border-color 0.5s ease;
}

.customsearch-results div:hover {
  border-color: #37FF8B; 
  box-shadow: 0 0 10px rgba(55, 255, 139, 0.8);
}


.cursor {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 8px solid aqua;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(2);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}


.playing-category {
  position: relative;
  left: 0;
  padding: 10px;
  background-color: rgba(52, 230, 227, 0.6);
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  transition: opacity 0.5s ease-in-out;
}

.playing-category:hover {
  opacity: 0;
}
